 
 main{
    display: flex;
    flex-direction: column;
    
    
 }
 img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    float: left;
 }
.block1{
    height: 388px;
    border-radius: 9%;
    background:linear-gradient(50deg,rgba(191, 129, 148, 1)0%,rgba(86, 166, 241, 1)100% );
    display: flex;
    text-align: left;
    margin-bottom: 30px;
    margin-top: 30px;
    margin-left: 10%;
    margin-right: 10%;
}
.block2{
    height: 388px;
    border-radius: 9%;
    background:linear-gradient(50deg,rgba(97, 227, 194, 1) 0%,rgba(70, 134, 195, 1)100% );
    display: flex;
    text-align: center;
    margin-bottom: 30px;
    margin-top: 30px;
    margin-left: 10%;
    margin-right: 10%;
}
.block3{
    height: 388px;
    border-radius: 9%;
    background:linear-gradient(50deg,rgba(226, 132, 23, 1) 0%,rgba(92, 144, 181, 1)75% );
    display: flex;
    text-align: right;
    margin-bottom: 30px;
    margin-top: 30px;
    margin-left: 10%;
    margin-right: 10%;
}
h2{
    display: flex;
}
p{
    display: flex;
    flex-wrap: wrap;
}