* {
    margin: 0;
    padding: 0;
}
 
header {
    color: white;
    background: linear-gradient(0deg,
    rgba(34, 193, 195, 1) 0%,
    rgba(45, 253, 149, 0.681) 100%
    );
}

h1 {
    padding-top: 10px;
    display: inline;
    float: left;
    
}

img{
    display: inline;
    width: 50px;
    height: 50px;

}

nav {
    padding-top: 20px;
    display: inline;
    float:right 
}

a {
    font-size: 25px;
    color: white;
    padding: 20px;
}

marquee {
    font-size: 25px;
    padding: 10px;
    border: 5px white solid;
    margin-top: 50px;

}

main{
    display: flex;
    flex-direction: column;
    
 }
 section img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    float: left;
    
 }
.block1{
    height: 388px;
    border-radius: 9%;
    background:linear-gradient(50deg,rgba(191, 129, 148, 1)0%,rgba(86, 166, 241, 1)100% );
    display: flex;
    text-align: left;
    margin-bottom: 30px;
    margin-top: 30px;
    margin-left: 10%;
    margin-right: 10%;
    
    flex-wrap: wrap;
    flex-direction: column;
}
.block2{
    height: 388px;
    border-radius: 9%;
    background:linear-gradient(50deg,rgba(97, 227, 194, 1) 0%,rgba(70, 134, 195, 1)100% );
    display: flex;
    text-align: center;
    margin-bottom: 30px;
    margin-top: 30px;
    margin-left: 10%;
    margin-right: 10%;
    
    flex-wrap: wrap;
    flex-direction: column;
}
.block3{
    height: 388px;
    border-radius: 9%;
    background:linear-gradient(50deg,rgba(226, 132, 23, 1) 0%,rgba(92, 144, 181, 1)75% );
    display: flex;
    text-align: right;
    margin-bottom: 30px;
    margin-top: 30px;
    margin-left: 10%;
    margin-right: 10%;
    
    flex-wrap: wrap;
    flex-direction: column;
}
h2{
    display: flex;
    
}
p{
    display: flex;
    flex-wrap: wrap;
}

footer{
    padding: 40px;
    background: linear-gradient(0deg,
    rgba(34, 193, 195, 1) 0%,
    rgba(45, 253, 149, 0.681) 100%
    );
}

footer p {
    color: white;
    float: inline-start;
}
i{
    padding: 10px;
    color: white;
    font-size: 40px;
    float: inline-end;
    margin-top: -25px;

}

